#tabs .tab-titles li{
    display: inline-block;
    background-color: #d9d9d9;
    padding: 0.4rem;
    transition: all .2s ease-in-out;
}
#tabs .tab-titles li:hover{
    background-color: gray;
    color: white;
    cursor: pointer;
}
#tabs > div {
    display: none;
}
#tabs > div.active{
    display: block;
    box-shadow: 0 0 2px #ccc;
    padding: 1rem 2rem;
    background-color: #fff;
}

